<!DOCTYPE html>
<div class="modal-div">
  <h1 mat-dialog-title>Choose a deadline</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="selectedDate"
        placeholder="MM/DD/YYYY"
        [matDatepickerFilter]="dateFilter"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker [dateClass]="dateClass"></mat-datepicker>
    </mat-form-field>
    <div>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button (click)="onOk()">Confirm</button>
    </div>
  </div>
</div>
